.well {
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  /* background-image: url("../img/roborogers.jpg");
  background-position: right center;
  background-size: 50% 100%;
  background-repeat: no-repeat; */
  margin-top: 75px;
}

h4 {
  font-family: 'Press Start 2P', cursive;

}
#list {
  list-style: none;
}

body {
  background-image: url("../img/rogers-wallpaper.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

#instructions {
  font-family: 'Loved by the King', cursive;
  font-size: x-large;
  /* background-color: rgba(255, 255, 255, 0.4); */
  margin-top: 200px;
}

#reply {
  font-family: 'Loved by the King', cursive;
  font-size: x-large;
}

button {
  font-family: 'Loved by the King', cursive;
}