body {
  background-image: url("../img/rogers-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

h4 {
  font-family: 'Press Start 2P', cursive;
}

button {
  font-family: 'Loved by the King', cursive;
}

.well {
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 75px;
}


.col-md-2 {
  text-align: center;
}

#list {
  list-style: none;
}


#instructions {
  font-family: 'Loved by the King', cursive;
  font-size: x-large;
  margin-top: 200px;
}

#reply {
  font-family: 'Loved by the King', cursive;
  font-size: x-large;
}
